spring:
  application:
    name: pizza-backend
  profiles:
    active: local

  jpa:
    hibernate:
      ddl-auto: validate
    database-platform: org.hibernate.dialect.PostgreSQLDialect


server:
  port: 8080

