spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pizza_db
    username: postgres
    password: postgres

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  jwt:
    secret: mysupersecuresecretthatatleast32characterslong
    expires-days: 30

server:
  port: 8080

