spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

app:
  jwt:
    secret: ${JWT_SECRET}
    expires-days: ${JWT_EXPIRED_DAY}

server:
  port: 8080
